@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Poppins;
}

main {
  min-height: 100vh;
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(172, 14, 40, 0.71)), to(rgba(1, 55, 102, 0.95)));
  background: linear-gradient(to right top, rgba(172, 14, 40, 0.71), rgba(1, 55, 102, 0.95));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  text-decoration: none;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 75%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(1, 55, 102, 0.53)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(1, 55, 102, 0.53));
  border: 1px solid white;
  border-radius: 1.5em;
  z-index: 5;
  -webkit-backdrop-filter: blur(0.2em);
          backdrop-filter: blur(0.2em);
}

.circle1,
.circle2 {
  background: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(216, 161, 161, 0.9)), color-stop(51.23%, rgba(1, 55, 102, 0.5)));
  background: linear-gradient(to right bottom, rgba(216, 161, 161, 0.9) 0%, rgba(1, 55, 102, 0.5) 51.23%);
  height: 10rem;
  width: 10rem;
  position: absolute;
  z-index: 3;
  border-radius: 50%;
}

.circle1 {
  top: 3%;
  right: 5%;
}

.circle2 {
  bottom: 3%;
  left: 5%;
}

.dashboard {
  display: none;
}

nav {
  color: #fff;
}

nav .openMenu {
  font-size: 5em;
  display: none;
  cursor: pointer;
  float: right;
  margin: 20px 20px 0 0;
  margin-top: -1.4em;
}

.active {
  margin-top: 5em;
}

nav .mainMenu li {
  list-style-type: none;
  text-align: center;
  line-height: 3.5em;
}

nav .mainMenu li a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
}

nav .mainMenu li a:hover {
  font-size: 1.3em;
  font-weight: 700;
  background: linear-gradient(279.89deg, #A5495F -6.72%, #1A3B66 75.05%);
  border-radius: 32px;
  padding: .2em 1.1em;
}

nav .mainMenu .icons {
  text-align: center;
}

nav .mainMenu .closeMenu,
.icons {
  font-size: 5em;
  cursor: pointer;
}

nav .logo {
  margin: .5em;
  font-size: 1em;
  cursor: pointer;
}

nav .mainMenu {
  height: 94.5vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: top 1s ease-in-out;
  transition: top 1s ease-in-out;
  background: #6E5570;
  border-radius: 1.5em;
  border: 2px solid white;
  display: none;
}

nav .mainMenu .closeMenu {
  display: block;
  position: absolute;
  top: -.46em;
  right: 50%;
  cursor: pointer;
}

nav .openMenu {
  display: block;
}

section.hero {
  display: block;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

section.hero .hero-image {
  display: block;
  text-align: center;
}

section.hero .hero-image img {
  width: 10em;
  margin: 0 5em;
}

.hero-main-cta .hero-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: .8em;
  line-height: 24px;
  text-align: center;
  padding: 1em 2em;
  color: #0A1A53;
}

.hero-main-cta .home-cta {
  text-align: center;
}

.hero-main-cta .home-cta .hero-cta {
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: .8em;
  line-height: 28px;
  color: #10164A;
  background: white;
  border: 2px solid #0A1A53;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 69px;
  padding: .2em .4em;
}

.hero-main-cta .home-cta .hero-cta img {
  width: 1em;
}

.hero-main-cta .home-cta .hero-cta:hover {
  font-size: 1em;
  color: white;
  background: #0A1A53;
}

section .data {
  background: linear-gradient(116.62deg, rgba(255, 255, 255, 0.48) -10.45%, rgba(1, 55, 102, 0.318) 93.12%);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border: 1px solid white;
  border-radius: 30px;
  margin: 2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .data .donation-received,
section .data .money-received,
section .data .active-campaigns,
section .data .active-members {
  text-align: center;
  margin: 1em;
}

section .data .donation-received img,
section .data .money-received img,
section .data .active-campaigns img,
section .data .active-members img {
  width: 50%;
}

section .data .donation-received .num,
section .data .money-received .num,
section .data .active-campaigns .num,
section .data .active-members .num {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: .5em;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
}

section .data .donation-received .title,
section .data .money-received .title,
section .data .active-campaigns .title,
section .data .active-members .title {
  font-family: Poppins;
  font-style: normal;
  font-weight: regular;
  font-size: .7em;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
}

section .about {
  padding: 20px;
}

section .about h1 {
  font-weight: bold;
  font-size: 1.4em;
  color: rgba(7, 23, 63, 0.45);
}

section .about img {
  width: 100%;
  margin-bottom: 2em;
  margin-top: 2em;
}

section .about p {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  color: #242020;
}

section .projects {
  padding: 20px;
}

section .projects h1 {
  font-weight: bold;
  font-size: 1.4em;
  color: rgba(7, 23, 63, 0.45);
}

section .projects .container {
  margin-top: 2em;
  margin-bottom: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .projects .container a img {
  width: 94%;
  padding-right: .2em;
  padding-bottom: .8em;
}

section .projects .container a img:hover {
  width: 100%;
  opacity: 30%;
}

section .donation {
  padding: 20px;
}

section .donation h1 {
  font-weight: bold;
  font-size: 1.4em;
  color: rgba(7, 23, 63, 0.45);
}

section .donation .container img {
  width: 100%;
  margin-bottom: 2em;
  margin-top: 2em;
}

section .donation .container p {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3em;
  color: #242020;
}

section .donation .container .home-cta {
  text-align: center;
  margin-top: 2em;
}

section .donation .container .home-cta .hero-cta {
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 30px;
  color: #10164A;
  background: white;
  border: 5px solid #0A1A53;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 69px;
  padding: .1em .3em;
}

section .donation .container .home-cta .hero-cta:hover {
  font-size: 1.4em;
  color: white;
  background: #0A1A53;
}

section .shop .shop-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .shop .shop-top h1 {
  font-weight: bold;
  font-size: 1.4em;
  color: rgba(7, 23, 63, 0.45);
  margin: .6em 1em;
}

section .shop .shop-top .ec-cart-widget {
  margin-left: auto;
  margin-right: -3.7em;
  float: right;
}

section .shop .store {
  margin: 0 2em;
  margin-bottom: 3em;
}

section .shop .store ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

section .shop .store ::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
  -webkit-box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3);
}

section .shop .store ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#96A6BF), to(#63738C));
  background: linear-gradient(left, #96A6BF, #63738C);
  -webkit-box-shadow: inset 0 0 1px 1px #5C6670;
          box-shadow: inset 0 0 1px 1px #5C6670;
}

section .shop .store ::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, right top, from(#8391A6), to(#536175));
  background: linear-gradient(left, #8391A6, #536175);
}

section .event {
  padding: 20px;
}

section .event h1 {
  font-weight: bold;
  font-size: 1.4em;
  color: rgba(7, 23, 63, 0.45);
  margin-bottom: 1em;
}

section .event .calendar {
  text-align: center;
}

section .event .calendar iframe {
  width: 100%;
  height: 24em;
  border-radius: .5em;
}

section .join-club {
  padding: 20px;
}

section .join-club h1 {
  font-weight: bold;
  font-size: 1.4em;
  color: rgba(7, 23, 63, 0.45);
  margin-bottom: .5em;
}

section .join-club .map iframe {
  width: 100%;
  height: 10em;
  border-radius: 25px;
  opacity: 90%;
  position: relative;
}

section .join-club .map .map-data {
  position: absolute;
  background: rgba(255, 255, 255, 0.69);
  border-radius: 25px;
  padding: .8em;
  height: 10em;
  top: 9em;
}

section .join-club .map .date,
section .join-club .map .time,
section .join-club .map .venue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .join-club .map .date img,
section .join-club .map .time img,
section .join-club .map .venue img {
  width: 1.9em;
  margin-right: 1.3em;
}

section .join-club .map .date p,
section .join-club .map .time p,
section .join-club .map .venue p {
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  margin: 1em 0;
}

section .join-club .newsletter {
  background: linear-gradient(116.62deg, rgba(255, 255, 255, 0.48) -10.45%, rgba(1, 55, 102, 0.318) 93.12%);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border-radius: 25px;
  padding: 20px;
  border: 1px solid white;
  text-align: center;
}

section .join-club .newsletter h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  color: #1B406B;
}

section .join-club .newsletter P {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: .7em;
  text-align: center;
  margin: 1em 0;
  color: rgba(0, 0, 0, 0.7);
}

section .join-club .newsletter form {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5em;
}

section .join-club .newsletter form input {
  display: block;
  width: 100%;
  padding: .5em;
  border: none;
  outline: none;
  border-radius: 5em;
  font-family: Poppins;
  font-size: .7em;
}

section .join-club .newsletter form input ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  /* Firefox */
}

section .join-club .newsletter form input :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  /* Firefox */
}

section .join-club .newsletter form input ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  /* Firefox */
}

section .join-club .newsletter form input ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  /* Firefox */
}

section .join-club .newsletter form input :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.7);
}

section .join-club .newsletter form input ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.7);
}

section .join-club .newsletter form button,
section .join-club .newsletter form input[type="submit"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: #000000;
  padding: .3em .6em;
  border-radius: 5em;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
}

section .join-club .newsletter form button:hover {
  color: white;
}

section .contact {
  padding: 20px;
}

section .contact h1 {
  font-weight: bold;
  font-size: 1.4em;
  color: rgba(7, 23, 63, 0.45);
  margin-bottom: 1em;
}

section .contact .container {
  background: rgba(255, 255, 255, 0.69);
  border-radius: 45px;
  padding: 2em;
  text-align: left;
  margin-bottom: 7em;
}

section .contact .container h2,
section .contact .container a {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.6);
}

section .contact .container .phone_details,
section .contact .container .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}

section .contact .container .phone_details img,
section .contact .container .email img {
  width: 2em;
  margin-right: 1em;
}

section .contact .container .phone_details a,
section .contact .container .email a {
  text-decoration: none;
  text-align: center;
}

footer {
  padding: 1em;
  text-align: center;
}

footer img {
  width: 1em;
}

footer .footer-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: .6em;
  line-height: 16px;
  color: #000000;
}

footer .footer-text img {
  margin-right: .2em;
}

footer .footer-text a {
  color: #000000;
}

footer .footer-text a:hover {
  font-weight: 700;
}

@media only screen and (min-width: 320px) {
  nav .mainMenu {
    height: 89vh;
  }
  nav .mainMenu .closeMenu {
    right: 45%;
  }
  nav .mainMenu li a {
    font-size: .8em;
  }
  nav .mainMenu li a:hover {
    font-size: .9em;
  }
  nav .mainMenu .icons {
    text-align: center;
  }
  nav .mainMenu .icons img {
    width: .3em;
  }
  section.hero {
    display: block;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  section.hero .hero-image {
    display: block;
    text-align: center;
  }
  section.hero .hero-image img {
    width: 9em;
    margin: 0 1.6em;
  }
  section.data .donation-received,
  section.data .money-received,
  section.data .active-campaigns,
  section.data .active-members {
    text-align: center;
    margin: .5em;
  }
  section.data .donation-received img,
  section.data .money-received img,
  section.data .active-campaigns img,
  section.data .active-members img {
    width: 1em;
  }
  section.data .donation-received .num,
  section.data .money-received .num,
  section.data .active-campaigns .num,
  section.data .active-members .num {
    font-weight: 500;
    font-size: .5em;
    color: #10164A;
  }
  section.data .donation-received .title,
  section.data .money-received .title,
  section.data .active-campaigns .title,
  section.data .active-members .title {
    font-size: .4em;
    line-height: 10px;
    color: #10164A;
  }
  section.about h1 {
    font-size: 1em;
  }
  section.about img {
    margin: .8em 0;
  }
  section.about p {
    font-size: .8em;
  }
  section.projects h1 {
    font-size: 1em;
  }
  section.projects .container {
    margin-top: 1em;
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(5rem, 2fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(5rem, 2fr));
  }
  section.projects .container a img {
    width: 5em;
    padding-right: 0em;
    padding-bottom: 0em;
  }
  section.projects .container a img:hover {
    width: 6em;
    opacity: 30%;
  }
  section.donation h1 {
    font-size: 1em;
  }
  section.donation .container img {
    width: 100%;
    margin: .8em 0;
  }
  section.donation .container p {
    font-size: .8em;
    line-height: 1.3em;
  }
  section.donation .container .home-cta {
    margin-top: 2em;
  }
  section.donation .container .home-cta .hero-cta {
    font-size: .8em;
  }
  section.donation .container .home-cta .hero-cta:hover {
    font-size: 1em;
  }
  section.shop .shop-top h1 {
    font-size: 1em;
  }
  section.shop .shop-top .ec-cart-widget {
    margin-right: -2.5em;
  }
  section.shop .store {
    margin: 0 .5em;
    margin-bottom: 3em;
  }
  section.shop #merchandise {
    overflow-y: scroll;
    height: 20em;
  }
  section.event h1 {
    font-size: 1em;
  }
  section.event .calendar iframe {
    height: 20em;
  }
  section .join-club h1 {
    font-size: 1em;
  }
  section .join-club .map {
    margin-bottom: 2em;
  }
  section .join-club .map iframe {
    opacity: 0;
  }
  section .join-club .newsletter {
    padding: 1em .5em;
  }
  section .join-club .newsletter h2 {
    font-size: 1em;
  }
  section .join-club .newsletter p {
    font-size: .8em;
  }
  section .join-club .newsletter form input {
    font-size: .6em;
  }
  section .join-club .newsletter form button,
  section .join-club .newsletter form input[type="submit"] {
    font-size: .8em;
  }
  section.contact h1 {
    font-size: 1em;
  }
  section.contact .container {
    padding: 1em 1em;
    margin-bottom: 10em;
  }
  section.contact .container h2, section.contact .container a {
    font-size: .8em;
  }
  section.contact .container .phone_details img,
  section.contact .container .email img {
    width: 1em;
  }
  section.contact .container .email {
    line-height: .9em;
  }
}

@media only screen and (min-width: 480px) {
  nav .mainMenu {
    height: 91vh;
  }
  nav .mainMenu .closeMenu {
    right: 47.5%;
  }
  nav .mainMenu li a {
    font-size: .8em;
  }
  nav .mainMenu li a:hover {
    font-size: .9em;
  }
  nav .mainMenu .icons {
    text-align: center;
  }
  nav .mainMenu .icons img {
    width: .5em;
  }
  section.hero {
    display: block;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  section.hero .hero-image {
    display: block;
    text-align: center;
  }
  section.hero .hero-image img {
    width: 10em;
    margin: 0 5em;
  }
  section.data .donation-received,
  section.data .money-received,
  section.data .active-campaigns,
  section.data .active-members {
    text-align: center;
    margin: .5em;
  }
  section.data .donation-received img,
  section.data .money-received img,
  section.data .active-campaigns img,
  section.data .active-members img {
    width: 1.5em;
  }
  section.data .donation-received .num,
  section.data .money-received .num,
  section.data .active-campaigns .num,
  section.data .active-members .num {
    font-weight: 500;
    font-size: .8em;
    color: #10164A;
  }
  section.data .donation-received .title,
  section.data .money-received .title,
  section.data .active-campaigns .title,
  section.data .active-members .title {
    font-size: .6em;
    line-height: 10px;
    color: #10164A;
    margin-top: .5em;
  }
  section.about h1 {
    font-size: 1.2em;
  }
  section.about img {
    margin: .8em 0;
  }
  section.about p {
    font-size: 1em;
  }
  section.projects h1 {
    font-size: 1.2em;
  }
  section.projects .container {
    margin-top: 1em;
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(6rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  }
  section.projects .container a img {
    width: 6em;
    padding-right: 0em;
    padding-bottom: 0em;
  }
  section.projects .container a img:hover {
    width: 7em;
    opacity: 30%;
  }
  section.donation h1 {
    font-size: 1.2em;
  }
  section.donation .container img {
    width: 100%;
    margin: .8em 0;
  }
  section.donation .container p {
    font-size: .8em;
    line-height: 1.3em;
  }
  section.donation .container .home-cta {
    margin-top: 2em;
  }
  section.donation .container .home-cta .hero-cta {
    font-size: .8em;
    border: 2px solid #0A1A53;
  }
  section.donation .container .home-cta .hero-cta:hover {
    font-size: 1em;
  }
  section.shop .shop-top h1 {
    font-size: 1.2em;
  }
  section.shop .shop-top .ec-cart-widget {
    margin-right: -2.5em;
  }
  section.shop .store {
    margin: 0 .5em;
    margin-bottom: 3em;
  }
  section.shop #merchandise {
    overflow-y: scroll;
    height: 20em;
  }
  section.event h1 {
    font-size: 1.2em;
  }
  section.event .calendar iframe {
    width: 100%;
    height: 23em;
  }
  section .join-club h1 {
    font-size: 1.2em;
  }
  section .join-club .map {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  section .join-club .map iframe {
    opacity: 90%;
  }
  section .join-club .map .map-data {
    top: 10em;
  }
  section .join-club .newsletter {
    padding: 1em .5em;
  }
  section .join-club .newsletter h2 {
    font-size: 1em;
  }
  section .join-club .newsletter p {
    font-size: .8em;
  }
  section .join-club .newsletter form input {
    font-size: .8em;
  }
  section .join-club .newsletter form button,
  section .join-club .newsletter form input[type="submit"] {
    font-size: .8em;
  }
  section.contact h1 {
    font-size: 1.2em;
  }
  section.contact .container {
    padding: 1em 1em;
    margin-bottom: 10em;
  }
  section.contact .container h2, section.contact .container a {
    font-size: 1em;
  }
  section.contact .container .phone_details img,
  section.contact .container .email img {
    width: 1.2em;
  }
  section.contact .container .email {
    line-height: .9em;
  }
}

@media only screen and (min-width: 768px) {
  nav .mainMenu {
    height: 87vh;
  }
  nav .mainMenu .closeMenu {
    right: 47.5%;
  }
  nav .mainMenu li a {
    font-size: .8em;
  }
  nav .mainMenu li a:hover {
    font-size: .9em;
  }
  nav .mainMenu .icons {
    text-align: center;
  }
  nav .mainMenu .icons img {
    width: .5em;
  }
  section.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  section.hero .hero-image {
    display: block;
    text-align: center;
  }
  section.hero .hero-image img {
    width: 10em;
    margin: 0 2em;
  }
  section.hero .hero-main-cta {
    text-align: right;
  }
  section.hero .hero-main-cta .hero-text {
    text-align: right;
    font-size: 1em;
    padding: 0;
    margin-top: 6em;
  }
  section.hero .hero-main-cta .home-cta {
    text-align: right;
    margin-top: 2em;
  }
  section.hero .hero-main-cta .home-cta .hero-cta {
    font-size: .8em;
    text-align: left;
  }
  section.data {
    margin-top: 3em;
  }
  section.data .donation-received,
  section.data .money-received,
  section.data .active-campaigns,
  section.data .active-members {
    text-align: center;
    margin: .5em;
  }
  section.data .donation-received img,
  section.data .money-received img,
  section.data .active-campaigns img,
  section.data .active-members img {
    width: 2em;
  }
  section.data .donation-received .num,
  section.data .money-received .num,
  section.data .active-campaigns .num,
  section.data .active-members .num {
    font-weight: 500;
    font-size: .8em;
    color: #10164A;
  }
  section.data .donation-received .title,
  section.data .money-received .title,
  section.data .active-campaigns .title,
  section.data .active-members .title {
    font-size: .9em;
    line-height: 18px;
    color: #10164A;
    margin-top: .5em;
  }
  section.about h1 {
    font-size: 1.2em;
  }
  section.about img {
    margin: .8em 0;
  }
  section.about p {
    font-size: 1em;
  }
  section.projects h1 {
    font-size: 1.2em;
  }
  section.projects .container {
    margin-top: 1em;
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(6rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  }
  section.projects .container a img {
    width: 7.8em;
    padding-right: 0em;
    padding-bottom: 0em;
  }
  section.projects .container a img:hover {
    width: 7em;
    opacity: 30%;
  }
  section.donation h1 {
    font-size: 1.2em;
  }
  section.donation .container img {
    width: 100%;
    margin: .8em 0;
  }
  section.donation .container p {
    font-size: 1em;
    line-height: 1.3em;
  }
  section.donation .container .home-cta {
    margin-top: 2em;
  }
  section.donation .container .home-cta .hero-cta {
    font-size: 1em;
    border: 2px solid #0A1A53;
  }
  section.donation .container .home-cta .hero-cta:hover {
    font-size: 1em;
  }
  section.shop .shop-top h1 {
    font-size: 1.2em;
  }
  section.shop .shop-top .ec-cart-widget {
    margin-right: -2.5em;
  }
  section.shop .store {
    margin: 0 .5em;
    margin-bottom: 3em;
  }
  section.shop #merchandise {
    overflow-y: scroll;
    height: 20em;
  }
  section.event h1 {
    font-size: 1.2em;
  }
  section.event .calendar iframe {
    width: 100%;
    height: 23em;
  }
  section .join-club h1 {
    font-size: 1.2em;
  }
  section .join-club .map {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  section .join-club .map iframe {
    opacity: 90%;
  }
  section .join-club .map .map-data {
    top: 10em;
  }
  section .join-club .newsletter {
    padding: 1em .5em;
  }
  section .join-club .newsletter h2 {
    font-size: 1em;
  }
  section .join-club .newsletter p {
    font-size: .8em;
  }
  section .join-club .newsletter form input {
    font-size: .8em;
  }
  section .join-club .newsletter form button,
  section .join-club .newsletter form input[type="submit"] {
    font-size: .8em;
  }
  section.contact h1 {
    font-size: 1.2em;
  }
  section.contact .container {
    padding: 1.5em 2em;
    margin-bottom: 10em;
  }
  section.contact .container h2, section.contact .container a {
    font-size: 1em;
  }
  section.contact .container .phone_details img,
  section.contact .container .email img {
    width: 1.2em;
  }
  section.contact .container .email {
    line-height: .9em;
  }
}

@media only screen and (min-width: 1024px) {
  nav .mainMenu {
    height: 80vh;
  }
  nav .mainMenu .closeMenu {
    right: 48.5%;
  }
  nav .mainMenu li a {
    font-size: .9em;
  }
  nav .mainMenu li a:hover {
    font-size: 1em;
  }
  nav .mainMenu .icons {
    text-align: center;
  }
  nav .mainMenu .icons img {
    width: .5em;
  }
  section.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  section.hero .hero-image {
    display: block;
    text-align: center;
  }
  section.hero .hero-image img {
    width: 10em;
    margin: 0 2em;
  }
  section.hero .hero-main-cta {
    text-align: right;
  }
  section.hero .hero-main-cta .hero-text {
    text-align: right;
    font-size: 1.1em;
    padding: 0;
    margin-top: 6em;
  }
  section.hero .hero-main-cta .home-cta {
    text-align: right;
    margin-top: 2em;
  }
  section.hero .hero-main-cta .home-cta .hero-cta {
    font-size: 1em;
    text-align: left;
  }
  section.data {
    margin: 0 4em;
    margin-top: 3em;
    margin-bottom: 2em;
  }
  section.data .donation-received,
  section.data .money-received,
  section.data .active-campaigns,
  section.data .active-members {
    text-align: center;
    margin: 1em 1em;
    padding: 0em;
  }
  section.data .donation-received img,
  section.data .money-received img,
  section.data .active-campaigns img,
  section.data .active-members img {
    width: 2em;
  }
  section.data .donation-received .num,
  section.data .money-received .num,
  section.data .active-campaigns .num,
  section.data .active-members .num {
    font-weight: 500;
    font-size: .8em;
    color: #10164A;
  }
  section.data .donation-received .title,
  section.data .money-received .title,
  section.data .active-campaigns .title,
  section.data .active-members .title {
    font-size: .9em;
    line-height: 18px;
    color: #10164A;
    margin-top: .5em;
  }
  section.about h1 {
    font-size: 1.2em;
  }
  section.about img {
    margin: .8em 0;
  }
  section.about p {
    font-size: 1.2em;
  }
  section.projects h1 {
    font-size: 1.2em;
  }
  section.projects .container {
    margin-top: 1em;
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    overflow-y: scroll;
    height: 16em;
    margin-bottom: 5em !important;
  }
  section.projects .container a img {
    width: 9em;
    padding-right: 0em;
    padding-bottom: 0em;
  }
  section.projects .container a img:hover {
    width: 9.5em;
    opacity: 30%;
  }
  section.donation h1 {
    font-size: 1.2em;
  }
  section.donation .container img {
    width: 100%;
    margin: .8em 0;
  }
  section.donation .container p {
    font-size: 1.2em;
    line-height: 1.3em;
  }
  section.donation .container .home-cta {
    margin-top: 2em;
  }
  section.donation .container .home-cta .hero-cta {
    font-size: 1.1em;
    border: 2px solid #0A1A53;
  }
  section.donation .container .home-cta .hero-cta:hover {
    font-size: 1em;
  }
  section.shop .shop-top h1 {
    font-size: 1.2em;
  }
  section.shop .shop-top .ec-cart-widget {
    margin-right: -2.5em;
  }
  section.shop .store {
    margin: 0 .5em;
    margin-bottom: 3em;
  }
  section.shop #merchandise {
    overflow-y: scroll;
    height: 20em;
  }
  section.event h1 {
    font-size: 1.2em;
  }
  section.event .calendar iframe {
    width: 100%;
    height: 23em;
  }
  section .join-club h1 {
    font-size: 1.2em;
  }
  section .join-club .map {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  section .join-club .map iframe {
    opacity: 90%;
  }
  section .join-club .map .map-data {
    top: 10em;
  }
  section .join-club .newsletter {
    padding: 1em .5em;
  }
  section .join-club .newsletter h2 {
    font-size: 1em;
  }
  section .join-club .newsletter p {
    font-size: .8em;
  }
  section .join-club .newsletter form input {
    font-size: .8em;
  }
  section .join-club .newsletter form button,
  section .join-club .newsletter form input[type="submit"] {
    font-size: .8em;
  }
  section.contact h1 {
    font-size: 1.2em;
  }
  section.contact .container {
    padding: 1.5em 2em;
    margin-bottom: 10em;
  }
  section.contact .container h2, section.contact .container a {
    font-size: 1.2em;
  }
  section.contact .container .phone_details img,
  section.contact .container .email img {
    width: 1.5em;
  }
  section.contact .container .email {
    line-height: .9em;
  }
}

@media only screen and (min-width: 1200px) {
  nav .mainMenu {
    height: 80vh;
  }
  nav .mainMenu .closeMenu {
    right: 48.5%;
  }
  nav .mainMenu li a {
    font-size: .9em;
  }
  nav .mainMenu li a:hover {
    font-size: 1em;
  }
  nav .mainMenu .icons {
    text-align: center;
  }
  nav .mainMenu .icons img {
    width: .5em;
  }
  section.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  section.hero .hero-image {
    display: block;
    text-align: center;
  }
  section.hero .hero-image img {
    width: 12em;
    margin: 0 2em;
  }
  section.hero .hero-main-cta {
    text-align: right;
  }
  section.hero .hero-main-cta .hero-text {
    text-align: right;
    font-size: 1.2em;
    padding: 0;
    margin-top: 6em;
  }
  section.hero .hero-main-cta .home-cta {
    text-align: right;
    margin-top: 2em;
  }
  section.hero .hero-main-cta .home-cta .hero-cta {
    font-size: 1.1em;
    text-align: left;
  }
  section.data {
    margin: 0 7em;
    margin-top: 3em;
    margin-bottom: 2em;
  }
  section.data .donation-received,
  section.data .money-received,
  section.data .active-campaigns,
  section.data .active-members {
    text-align: center;
    margin: 1em 1em;
    padding: 0em;
  }
  section.data .donation-received img,
  section.data .money-received img,
  section.data .active-campaigns img,
  section.data .active-members img {
    width: 2em;
  }
  section.data .donation-received .num,
  section.data .money-received .num,
  section.data .active-campaigns .num,
  section.data .active-members .num {
    font-weight: 500;
    font-size: .8em;
    color: #10164A;
  }
  section.data .donation-received .title,
  section.data .money-received .title,
  section.data .active-campaigns .title,
  section.data .active-members .title {
    font-size: .9em;
    line-height: 18px;
    color: #10164A;
    margin-top: .5em;
  }
  section.about h1 {
    font-size: 1.2em;
  }
  section.about img {
    margin: .8em 0;
  }
  section.about p {
    font-size: 1.2em;
  }
  section.projects h1 {
    font-size: 1.2em;
  }
  section.projects .container {
    margin-top: 1em;
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(12rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    overflow-y: scroll;
    height: 16em;
    margin-bottom: 5em !important;
  }
  section.projects .container a img {
    width: 9em;
    margin-bottom: 1em;
    padding-right: 0em;
    padding-bottom: 0em;
  }
  section.projects .container a img:hover {
    width: 9.5em;
    opacity: 30%;
  }
  section.donation h1 {
    font-size: 1.2em;
  }
  section.donation .container img {
    width: 100%;
    margin: .8em 0;
  }
  section.donation .container p {
    font-size: 1.2em;
    line-height: 1.3em;
  }
  section.donation .container .home-cta {
    margin-top: 2em;
  }
  section.donation .container .home-cta .hero-cta {
    font-size: 1.1em;
    border: 2px solid #0A1A53;
  }
  section.donation .container .home-cta .hero-cta:hover {
    font-size: 1em;
  }
  section.shop .shop-top h1 {
    font-size: 1.2em;
  }
  section.shop .shop-top .ec-cart-widget {
    margin-right: -2.5em;
  }
  section.shop .store {
    margin: 0 .5em;
    margin-bottom: 3em;
  }
  section.shop #merchandise {
    overflow-y: scroll;
    height: 20em;
  }
  section.event h1 {
    font-size: 1.2em;
  }
  section.event .calendar iframe {
    width: 100%;
    height: 23em;
  }
  section .join-club h1 {
    font-size: 1.2em;
  }
  section .join-club .map {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  section .join-club .map iframe {
    opacity: 90%;
  }
  section .join-club .map .map-data {
    top: 10em;
  }
  section .join-club .newsletter {
    padding: 1em .5em;
  }
  section .join-club .newsletter h2 {
    font-size: 1em;
  }
  section .join-club .newsletter p {
    font-size: .8em;
  }
  section .join-club .newsletter form input {
    font-size: .8em;
  }
  section .join-club .newsletter form button,
  section .join-club .newsletter form input[type="submit"] {
    font-size: .8em;
  }
  section.contact h1 {
    font-size: 1.2em;
  }
  section.contact .container {
    padding: 1.5em 2em;
    margin-bottom: 10em;
  }
  section.contact .container h2, section.contact .container a {
    font-size: 1.2em;
  }
  section.contact .container .phone_details img,
  section.contact .container .email img {
    width: 1.5em;
  }
  section.contact .container .email {
    line-height: .9em;
  }
}
/*# sourceMappingURL=main.css.map */